.project-section {
    padding: 80px 20px;
    background-color: #f4f4f4;
    text-align: center;
    background: linear-gradient(to bottom, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background-image: url("../assets/Images/bgimage4.jpg");
    background-position: center;
    background-size: cover;
    animation: fadeInSection 1s ease-out;
    position: relative;
}
body{
    overflow-x: hidden;
}

@keyframes fadeInSection {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.project-section h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeInText 1.5s ease-out;
}
.section-title p {
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    animation: fadeInText 1.8s ease-out;
}
@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.project {
    display: flex;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;
    animation: fadeInText 2s ease-out;
}
.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.project-card { 
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInCard 1.5s forwards; 
}
@keyframes fadeInCard {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}
.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 8px;
}
.project-card h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: fadeInText 1.8s ease-out;
}
.project-card p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
    animation: fadeInText 2s ease-out;
}
.project-card a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-align: center;
}
body{
    overflow-x:hidden;
}
.project-card a:hover {
    background-color: fuchsia;
}
.project-section {
    animation: zoomBackground 15s infinite alternate; 
}
@media(max-width:768px){
    
    body {
        scroll-behavior: smooth;
    }
}
@media(max-width:568px){

}
@media(max-width:468px){
    .project-section {
        padding: 60px 20px;
        background-color: #f4f4f4;
        text-align: center;
        background: linear-gradient(to bottom, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
        background-image: url("../assets/Images/bgimage4.jpg");
        background-position: center;
        background-size: cover;
        animation: fadeInSection 1s ease-out;
        position: relative;
    }
    .project-section h2 {
        font-size: 25px;
    }
    .section-title p{
        font-size: 20px;
    }  
    .project-card{
        width:260px;
        height:400px;
    }
    .project {
        display: flex;
        justify-content: center;
        gap: 5rem;
        flex-wrap: wrap;
        animation: fadeInText 2s ease-out;
        margin-bottom: 40px;
    }
    .project-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}


