.skills-section {
  padding: 100px 20px;
  color: #fff;
  text-align: center;
  background-image: url("../assets//Images/bgimage5.avif");
  opacity: 0;
  animation: fadeInSection 1.5s ease-in-out forwards;
}
@keyframes fadeInSection {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.skills-section h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-clip: text;
  -webkit-background-clip: text;
  color: #fff;
  opacity: 0;
  animation: fadeInText 1s ease-in-out 0.5s forwards;
}
@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  justify-items: center;
  margin-top: 40px;
}
.skill-card {
  background-image: linear-gradient(to left top, #bbb5d1, #99c0ee, #49d0f9, #00dee2, #00e5aa, #79d96a, #b5c72e, #eaad00, #ff7d2e, #ff475c, #f6178d, #bc2ebc);
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.3s ease;
  width: 150px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  cursor: pointer;
  position: relative;
  opacity: 0;
  animation: fadeInCard 0.5s ease-in-out forwards; 
}
@keyframes fadeInCard {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.skill-card::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  z-index: -1;
  transition:background-color 0.4s ease;
}
.skill-card:hover {
  transform: translateY(-12px) rotate(5deg); 
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
}
.skill-card:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
}
.skill-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  object-fit: contain;
  transition: transform 0.3s ease, rotate 0.3s ease;
}
.skill-card:hover .skill-icon {
  transform: scale(1.1) rotate(360deg); 
}
.skill-card h3 {
  font-size: 1.4rem;
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-top: 10px;
  transition: color 0.3s ease;
}
.skill-card:hover h3 {
  color: #f5a623; 
}
@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .skill-card {
    padding: 20px;
    width: 160px;
    height: 200px;
  }
  .skill-icon {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 420px){
  .skill-card {
    padding: 20px;
    width: 120px;
    height: 130px;
  }
  .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  }
  .skills-section h2{
    font-size: 2rem;
  }
}